h1 {
  color:#a50808;
  text-align:center;
  font-family:'Encode Sans Condensed', sans-serif, 'Times New Roman';
  font-weight: bold
}

body {
  background-color: #fff4e2
}

footer {
  text-align: center;
}

p {
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif, 'Times New Roman'
}

.menu-trigger {
  order: 1;
  font-size: 1.75em;
  width: 2em;
}


ul
#class ul.demo
#container {
    width: 95%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {

    #nav {
        width: 80%;
        list-style-type: none;
    }

@media screen and (min-width: 450px) {

    nav ul {
        flex-flow: row;
        justify-content: space-between;
      }

    }

nav ul {
    display: none;
}

@media screen and (min-width: 700px){

    nav ul {
     display: flex;
    }

    nav ul li {
      border-top: none;
    }

    .menu-trigger {
      display: none;
    }

    header h1 {
      order: 1;
    }

    nav {
      order: 2;
    }

 }

#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0;
	  border-bottom: 10px solid #fff4e2;
    padding-left: 20px;
    text-align: center;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: white;
    background-color: #a50808;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Encode Sans Condensed', sans-serif, 'Times New Roman';
}

#nav a:hover, #nav a:active {
    background-color: #6d1d1d;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
  border: none;
  padding: 4px;
}


.container {
  display: flex;
  flex-direction: row;
}

@media (min-width: 600px){
  .container {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
}



.cards {
  margin: 1px -10px;
  padding: 10;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.cards li {
  background-color: #a50808;
  border: 1px solid #fff4e2;
  padding: 1px;
  border-radius: 1px;
}

.card1 {
  grid-column: 1/3;
  grid-row: 1
}

.card2 {
  grid-column: 3;
  grid-row: 1
}

.card3 {
  grid-column:1;
  grid-row:2/4;
}

.card4 {
  grid-column: 2/4;
  grid-row:2;
}

.card5 {
  grid-column: 2/4;
  grid-row:3;
}

.section1 {
  grid-area: 2;
  text-align: center;
  display: block;
}
