p {
	color: #666666;
	font-family: Georgia, "Times New Roman", serif;
}

h1{
	font-family: helvetica, arial, sans-serif;
}

#containter {
	width: 95%;
	/* margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	margin: 0 auto 0 auto; */
	margin: 0 auto;
}

#nav {
	padding: 0;
	list-style-type: none;
}
#nav li {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

#footer {
	color: black;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 0.8em;
	border-top: 1px solid black;
}
